.about-container{
    width:100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: center;
    text-align: center;
    position: absolute;
    left:0;
    top:30px;
}

.about-container h2{
    /* background-color: var(--tag-color); */
padding: 20px;
    width:80vw;
    margin-left: auto;
    margin-right: auto;
}

.about-container p {
    padding: 0 10px 0 10px;
}

.about-container ul{
    list-style: none;
    padding:0 10px 0 10px;
    margin:0;
    font-family: 'Roboto', sans-serif;

}

.about-img{
width:80vw;

}

.suit-img{
    width:80vw
}

.about-container li{
  margin-bottom: 10px;
  
  
}

.collab-box{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@media screen and (min-width:865px) {

    .about-img{
        /* max-Height:600px;
                width:auto; */
    }
    .collab-box{
       margin-top: 2rem;
       display: grid;
        
    }
    .about-text{
        max-width: 850px;
        font-size: 1.5rem;
    }

    .collab-desc{
      /* align-items: center;
      background-color: blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
      margin-right: 5rem;

    }

    .about-img{
        max-height:600px ;
        width:auto;
    }

    .suit-img{
        max-height: 500px;
        width: auto;
    }
    
}