.booking-container{
    background-color: var(--primary-color);
    width:100vw;
    position: absolute;
    top:50px;
    left:0;
}

.booking-title{
    font-size: 24px;
}

.booking-p {
    font-size: 18px;
}

.info-box-container input{
    border-color:#00bfff;
    border-radius: 20px;
    padding:10px;
    
}

.info-box-container input:not(:first-child){
    margin-top: 1rem;
}