.booking-container{
    background-color: var(--primary-color);
    width:100vw;
    position: absolute;
    top:50px;
    left:0;
    overflow-x: hidden;
   
    
}

.small{
    width:100vw;
    margin-left: auto;
    margin-right: auto;
}

.booking-title{
    font-size: 24px;
}

.booking-p {
    font-size: 18px;
}

.correct{
    font-size: 18px;
opacity: 0.7;
    font-weight: 10;
    font-family: 'Palatino Sans', 'Palatino Sans Informal', 'Palatino Sans Text', 'Palatino Sans W1G', 'Palatino Sans W01', sans-serif;
}

.info-box-container{
    width: 100vw;
 justify-content: center;
   display: flex;
   flex-direction: column;
   
}

.info-box-container input{
    border-color:#00bfff;
    border-radius: 20px;
    padding:10px;
    box-shadow: 0 0 10px #00bfff;
    width:60vw;
    margin-left: 2rem;
    max-width: 500px;
   
    
    
}

.big-screen{
    width:300px;
    background-color: red;
}

.small-screen{
    max-width: 850px;
}

.info-box-container input::placeholder {
    color: grey; /* Placeholder text color */
    /* Adding a glow effect */
}

.info-box-container input:not(:first-child){
    margin-top: 2rem;
}

