.footer-container {
    background-color: var(--primary-color);
    padding-top: 20px;
    width:100vw;
    border:1px solid white;
  
}

.quick-links{

    display: flex;
    justify-content: space-around;
 
   

}

.link {

    color:rgb(87, 181, 253);
    padding-bottom: 30px;

}

