.hero3-container{
    /* margin-top: 5rem; */
  
  background-repeat: no-repeat;
  width:100vw;
  background-size: cover;
  /* background-position: 10% 50%;  */
  /* background-image: url(src/images/no-bg-mountain.png); */
  height:80vh;
  position: relative;


}


.hero3-container img{
    position: absolute;
    top:-10%;
    left:-70%;
    transform: scale(0.5);
    /* height:80vw; */
}




@media screen and (min-width:655px){
    .hero3-container{
        /* background-position: 50% 50%;  */
    }
}