.hero3-container{
    /* margin-top: 5rem; */
  
  background-repeat: no-repeat;
  width:100vw;
  background-size: cover;
  background-position: 10% 50%; 
  background-image: url(src/images/mountain-bg1.jpg);
  height:500px;
  /* height: 80vh;
  max-height: 700px; */
}

/* @media screen and (min-width:655px){
    .hero3-container{
        height:100vh
    }
} */