.herobanner-container{
    display: flex;
    width:100vw;
    flex-direction: column;
    background-color: var( --primary-color);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3rem;
    
}

.herobanner-logo{
    width:300px
}
