.herobanner-container{
    display: flex;
    width:100vw;
    flex-direction: column;
    background-color: var( --primary-color);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 3rem;

    /* margin-top: -16.5rem; */
    /* height:100vh; */
    
    
}

.herobanner-logo{
    width:98
    height:65vw
    top:20px;
   
}

.herobanner-container h1{
    position: absolute;
    top:10px;
    /* margin-top: 1rem; */
    font-family: 'Noto Sans Linear A', sans-serif;
    font-size: 3rem;
    
}

.herobanner-container p{
    /* position:absolute; */
    /* top:375px; */
    font-size: 1.4rem;
    /* margin-top: 1rem; */
    /* font-family: 'Open Sans', sans-serif; */
    
}

.arrow-down {
    margin-top: -1rem;
    font-size: 50px;
}

.button-hero{
    margin-top: -0.5rem;
    /* height:2rem; */
    /* position: absolute; */
    top:470px;
    font-size: 12px;
 
}
