.info-1-container {


  }


  @media screen and (min-width:655px){
    .info-1-container{
        /* margin-right: 2rem; */
        width:40vw;
        /* max-width: 420px; */
        max-height: 600px;
        max-width: 600px;

    }
  }
  