.infographic-container{
    width:100vw;
    position: absolute;
    top:0;
    left: 0;
}

.info-description{
    background-color: #015876;
    background-image: 
    linear-gradient(90deg, transparent 1px, rgba(255, 255, 255, 0.1) 1px),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(255, 255, 255, 0.1) 10px, rgba(255, 255, 255, 0.1) 20px);
  background-size: 10px 1px, 1px 10px, 100% 20px;
}

.content{
    background-color: #015876;
    position: relative;
    /* border-right: 5px solid #00bfff;
    border-top:5px solid #00bfff ; */
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-right: 5px solid #00bfff;
    border-top: 5px solid #00bfff;
    box-sizing: border-box; /* Ensure border is included in the width and height calculations */
  }