.intro-container{
    width:100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    
}

.intro {
    width:100vw;
    font-weight: 100;
    
}





.intro-container p{
  
}



