/* Add this to your navbar.css file */

.navbar-container{


 position: fixed;
  width: 100vw;
  
  top: 0px;
  left:0px;
  background-color:rgb(48, 46, 99);
  height: 50px;
z-index: 10;

 
  
}

.list-container {
 color:white;
 transform: translateY(-2.5rem);
 width:min-content;
 margin-left: auto;
 

 

}

.list-container li{
  list-style-type: none;
  /* transform: translateX(-25%); */
  padding:10px;
  
  /* margin-top: -2rem; */

}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.5rem;
  height: 2rem;
  width: 2rem; /* Set the width and height to make it a perfect circle */
  padding: 0; /* Remove padding */
  border-radius: 50%; /* Make it circular */
  margin-left: auto;
  margin-right: auto;
  background-color: white; /* Set your desired background color */
  color: red; /* Set your desired text color */
  border: none; /* Remove border */
  cursor: pointer;
}

.navbar-logo{
  color:rgb(48, 46, 99);
  text-align: left;
  margin-left: 1rem;
  
}

.nav-button::before,
.nav-button::after {
  content: '';
  position: absolute;
  background-color: #d15959; /* Set the color of the lines */
  height: 2px; /* Set the height of the lines */
  width: 10%; /* Set the width of the lines */
}

.nav-button::before {
  top: 5%;
}

.nav-button::after {
  top: 8%;
}



@media screen and (min-width: 760px) and (min-height: 415px) {
  .nav-list {
    display: flex;
    width:100vw;
    justify-content: space-between;
    padding:0;
    margin-top: 3rem;
    /* background-color: ; */
  }

  .nav-button{
    display: none;
  }
}
