/* Add this to your navbar.css file */

.navbar-container{


 position: fixed;
  width: 100vw;
  
  top: 0px;
  left:0px;
  background-color:rgb(38, 37, 79);
  height: 60px;
z-index: 10;

 
  
}

.list-container {
 color:white;
 transform: translateY(-2.5rem);
 width:min-content;
 margin-left: auto;
 background-color:rgb(48, 46, 99)
 
 

 

}

.list-container li{
  list-style-type: none;
  /* transform: translateX(-25%); */
  padding:10px;
  color:white;
  font-weight: 200;
  font-family: 'Palatino Sans', 'Palatino Sans Informal', 'Palatino Sans Text', 'Palatino Sans W1G', 'Palatino Sans W01', sans-serif;

  
  
  /* margin-top: -2rem; */

}

.mini-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
  height: 2rem;
  width: 2rem; /* Set the width and height to make it a perfect circle */
  padding: 0; /* Remove padding */
  border-radius: 50%; /* Make it circular */
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  
 
}

.navbar-logo{
  color:white;
  text-align: left;
  margin-left: 1rem;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  margin-top: 0.75rem;
  
}

.nav-button::before,
.nav-button::after {
  content: '';
  position: absolute;
  background-color: #d15959; /* Set the color of the lines */
  height: 2px; /* Set the height of the lines */
  width: 10%; /* Set the width of the lines */
}

.nav-button::before {
  top: 5%;
}

.nav-button::after {
  top: 8%;
}



@media screen and (min-width: 865px)  {
  .nav-list {
    display: flex;
    width:80vw;
    justify-content: space-between;
    padding:0;
    margin-top: 2rem;
    height:100%
    
    /* background-color: ; */
  }

  /* .nav-list {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    height:min-content
  } */

  .nav-button{
    display: none;
  }

  .navbar-logo{
    display: none;
  }
}
