.overview-container{
    width:100vw;
    background-color: var(--primary-color);
    position: absolute;
    top:60px;
    left:0;
}

.overview-video{
    width:90vw
}


@media screen and (min-width:655px){
    max-width: 400px;
}