.process-container{
    width:100vw;
    background-color: var(--primary-color);
    position:absolute;
    top:0;
    left:0;

}

.points li {
    list-style: none;
    margin-top: 1rem;
    text-align: left;
 font-family: 'spartan',sans-serif;
}

.tenet-title{
    /* color:#00bfff; */
    /* background-color: #ebebeb; */
}

.tenet{
   
}

