.serviceOverview-container {
    background-image: url(src/images/quantum2.jpeg);
    width:100vw;
    background-repeat: no-repeat;
    /* background-size: ; */
}

.scroll-down-animation{
    font-size: 1.5rem;
}