.service-offering-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.service-overview-list{
    list-style: none;
    /* background-color: red; */
}

.offered-service{
    /* background-image: url(src/images/react-logo.jpeg); */
    background-position: center 30%;
    height:40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.service-overview-list li{
    margin-left: auto;
    margin-right: auto;
}

.first {
    background-color: blue;
}

.second{
    background-color: blueviolet;
}


@media screen and (min-width:655px){
    .service-offering-container{
        flex-direction: row;
    }
}