.skills-section {
    margin-top: -2rem;
     background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
     width: 100vw;
    
   }

   .skills-container{
    width: 100vw;
  }

  .attribute-container{
    border:3px solid black;
    margin-top:3rem;
    background-size: 300px 600px;
    background-repeat: no-repeat;
    height:600px;
    background-position: center;
    overflow: hidden;
    border: 3px solid white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  
  
  
  }