.tenets-container{
  
    width:100vw;
 
}

.foreground {
    background-image: url(src/images/sandy-bg.png);
    height:90vw;
    position: absolute;
    top:0%;

}

.foreground .title-text{
   position: relative;
   top:25%;
   font-size: 3rem;
   color:black;
   background-color: red;
}

.underground {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 50, 7);
    /* height:30vh; */
}