.tenet-star-container{
    width:100vw;
}


.first-row{
    display: flex;
}

.tenet{
    width:200px;
    
}

.third-row{
    display: flex;
}

.tenet-button{
    height:100px;
    justify-content: center;
    font-size: 2rem;
    margin-top: 5rem;
}

