.tenets-container{
  
    width:100vw;
 
}

.foreground {
    background-image: url(src/images/sandy-bg.png);
    height:90vw;
}

.foreground .title-text{
    
}

.underground {
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 50, 7);
    /* height:30vh; */
}