.testimonial-container{
    width:100vw;
    background-color: var(--primary-color);
    margin-top: -2.5rem;
}

.testimonial {
    background-color: black;
    padding-left: 1rem;
    text-align: left;
    padding-bottom: 40px;
    width:60vw;
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;

}

.quote{
  
    font-weight: bold;
    font-size: 20px;
}

.effect{
    font-weight: 500;
    font-family: 'spartan',sans-serif;
}

.author {
    margin-top: 2rem;
    font-weight: bold;
}

.title{
    margin-top: -1rem;
}

.arrow-container{
    display: flex;
}

.arrow{
 position: absolute;
 bottom: 50%;
}