.work-container{
    width: 100vw;
    background-color: var(--primary-color);
    margin-top: -2rem;
    margin-left: auto;
    /* border: 1px solid white; */
 
}

.image-gallery {
    /* width:400px; */
    margin-left: auto;
    margin-right: auto;
    /* height: 500px; */
    height:70vh;
    
}



.image-gallery-slide .image-gallery-image{
   
    /* height:400px; */
    height:60vh;
}

.work-button{
    margin-bottom: 25px;
}



@media screen and (min-width:865px){
    .image-gallery-slide .image-gallery-image{
   
        height:500px;
    }

    .work-container{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .work-container h2{
        color:red;
        margin-left: auto;
        width:100vw;
        margin-right:auto;
    }
}



