.work-container{
    width: 100vw;
    background-color: var(--primary-color);
    /* margin-top: -2rem; */
    margin-left: auto;
    /* border: 1px solid white; */
   
}

.image-gallery {
    /* width:400px; */
    margin-left: auto;
    margin-right: auto;
    /* height: 500px; */
    height:70vh;
    
}

.image-gallery img{
  
}

.work{
    position: relative;
 

}

.work p{
   position: absolute;
   bottom: -10px;
}


.work-description a{
    color:white
}



.image-gallery-slide .image-gallery-image{
   
    /* height:400px !important; */
    /* height:60vh; */
}

.work-button{
    margin-bottom: 25px;
}

/* @media screen and (min-width:655px){
    .image-gallery{
        heigh
    }
} */


@media screen and (min-width:865px){


    .work-container{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
       margin-bottom:4rem ;
       
     
    }

    .work p{
        margin-top: 3rem;
        position: relative;
        font-size: clamp(23px, 2vw, 24px);
       
    }

    .link-container{
        
    }

    .image-gallery-description{
        /* margin-left: 35%; */
        
        display: flex;

      
       
    }

.margin a{
  
    /* position: absolute;
    bottom:10rem;
    right:12rem; */
    /* background-color: aliceblue; */

}

.work-container .image-text-box{
 
}


}



