.aurora-hero-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: radial-gradient(125% 125%
    at 50% 0%, #020617 50%,#DD335C); */
    height:100vh;
    flex-direction: column;
    margin: 0 auto;
    position: relative;

    /* position: absolute;
    top:0;
    left:0; */
   

    
}

.aurora-hero-container h1{
    width:85vw;

}

.gradient-text {
    background: linear-gradient(to bottom, rgb(209, 208, 208), grey);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    width:90vw


  }

  .aurora-hero-container p{
    text-align: left;
  }

  
  

