.expanding-box-container{
    width:100vw;
    /* height:10vh; */
    margin:0 auto;
    /* padding:1rem 1rem; */
    background: radial-gradient(circle at center, rgba(0, 153, 205, 0.7), rgba(48, 115, 160, 0.7));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    border-radius: 1rem;
    /* height:100%; */

}

.expanding-box-text{
    font-size: 2rem;
   
    
}

.overflow-hidden {
    overflow: hidden !important;
}

.expanding-work-box{
   margin:0;
   width:auto;
}

@media screen and (min-width:655px)

