.outro-container{
    width: 100vw;

    background-image: url(../../images/goku-vs-jiren.jpg);
    /* background-image: url(src/images/dark-q3v-logo.jpg); */
    /* height:90vw; */
 display: flex;
 align-items: center;
 background-repeat: no-repeat;
 background-size: cover; 
 /*cover usually works*/
 background-position:10% top;  

 position: relative;





}

.outro-text-box{
margin-top: 2rem;

}

.outro-text-box .title-text {
    
    font-size: 2.25rem;
   
}

.outro-text-box .description-text{
    font-size: 1.2rem;
    padding-left:10px;
    padding-right:25px;
  
}

.calendly-container{

}

.content2-text{
    white-space: pre-line;
}

.outro-container button{
    margin-top: 2rem;
}



@media screen and (min-width:655px) {
    .outro-container{
        text-align: left;
      /* margin-top: 20rem; */
    }

    .outro-text-box{
        margin-top: 3rem;
        margin-left: 2rem;
    }

    .outro-text-box .description-text{
        padding: 0;
        font-size: 1.5rem;
    }

    .outro-container{
        /* height:80vw; */
    }
}

@media screen and (min-width: 865px){
    .outro-container{
        height:90vw;
        text-align: center;
        max-height: 668px;
        /* margin-top: 10rem; */
        background-position: center 50%;
       
    }

    .outro-text-box .description-text{
        text-align: center;
        margin:auto;
        width:80%;
    padding: 0;
       
        
    }

    

    .outro-text-box {
        margin-top: 0rem;
    }
    
}