.hero3-container{
    /* margin-top: 5rem; */
  
 


  background-size: auto 1150px;
  background-position: 50% 30%; 
  background-image: url(src/images/no-bg-mountain.png);
  height:1150px;
  position: relative;
margin-top: 0rem;


}

.hero-contents{
    position: absolute;
    top:8%;
    left:50%;
    transform: translateX(-50%);
}

.hero-contents h2{
    transform: translateY(-3rem);
    /* font-size: 1.3rem; */
}


.hero3-container img{
    display: none;

    /* object-fit: cover;
    height:500px;
    width:100vw; */
    /* transform: scale(0.5); */
    /* height:80vw; */
    position: absolute;
    top:-25rem;
    left:0;
}

.hero-contents h2{
    font-size: 1rem;
    transform: translateY(-2rem);
}

@media screen and (min-height:700px) {

    .hero-contents{
        top:10%
    }

    .hero-contents h2{
        font-size: 2rem;
        transform: translateY(-2rem);
    }
}

@media screen and (min-width:) {
    
}




@media screen and (min-width:655px){
    .hero3-container{
        
        /* background-position: 50% 50%;  */
    }

    .hero-contents{
        /* transform: translateY(2rem); */
    }

    .hero-contents h2{
        /* transform: translateY(0); */
        font-size: 2.5rem;
    }
}