.mountain-parallax-container {
    position: relative;
   
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
}

.full-mountain {
    background-image: url(../../images/no-bg-mountain.png);
    position: absolute;
    inset: 0;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-height: 700px) {
    .full-mountain {
        height: 1150px; /* Adjust as needed */
        background-size: auto 1150px;
    }
}
