.mountain-parallax-container{
    width:100vw;
    position: relative;
    /* overflow: hidden;
    inset: 0; */
    height: 100vh;
    background-image: blue;
    /* background-size: auto 750px;
    background-image: url(../../images/bottom-mountain.png); */
  
}

.mountain-top{
    background-image: url(../../images/top-mountain.png);
    width:100vw;
 
    position: absolute;
    top:0;
    left:0;

}

.mountain-bottom{
   
    position: absolute;
    top:10%; 
   
}