.mountain-parallax-container{
    width:100vw;
    position: relative;
    /* overflow: hidden;
    inset: 0; */
    height: 100vh;
   /* background-color: blue; */
   /* overflow: hidden; */
   display: grid;
  
}

.parallax-text{
position: relative;
z-index: 1;
margin-top: 8rem;
}

.full-mountain{
    background-image: url(../../images/no-bg-mountain.png);
    position: absolute;
    /* top:10%; */
    will-change: transform;
    top:0;
    left:0%;
    /* left:0; */
    bottom:0;
    right:0%;
    background-position: 20% 30%;
    /* background-position: bottom; */
    /* background-size: auto 750px; */
     background-repeat: no-repeat;
     /* z-index: 1; */
    /* background-position: 50% 30%;  */
    /* background-size: cover; */
}

.bottom-mountain{
    background-image: url(../../images/bottom-mountain.png);
    position: absolute;
    top:-20%;
    left:0%;
    bottom:0;
    right:0%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    z-index: 2;
}

/* @media screen and(min-height:700px){
    .full-mountain{
        height:1150px;
        background-size: auto 1150px;
    }
} */