.mountain-parallax-container{
    width:100vw;
    position: relative;
    /* overflow: hidden;
    inset: 0; */
    height: 100vh;
   /* background-color: blue; */
   overflow: hidden;
   display: grid;
  
}

.full-mountain{
    background-image: url(../../images/no-bg-mountain.png);
    position: absolute;
    inset: 0px;
    background-position: 50% 30%;
    background-size: auto 750px;
     background-repeat: no-repeat;
    /* background-position: 50% 30%;  */
    /* background-size: cover; */
}

@media screen and(min-height:700px){
    .full-mountain{
        height:1150px;
        background-size: auto 1150px;
    }
}

