.mountain-parallax-container{
    width:100vw;
    position: relative;
    /* overflow: hidden;
    inset: 0; */
    height: 100vh;
   
  
}

.mountain-top{
    background-image: url(../../images/top-mountain.png);
    width: auto;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    max-height: 750px; /* Set maximum height to 750px */
 
    position: absolute;
    top:0;
    left:0;

}

.mountain-bottom{
   
    position: absolute;
    top:20%; 
    left:-50%;
   
}